.my-drop-menu{
    position: absolute;
    transform: translate(-110%, -100%);
    width: 300px;
    padding: 0;

    overflow: hidden;
    list-style-type: none;
}

.my-drop-item{
    box-shadow: 0px 0px 1px var(--text-secondary); /* overwrite link-buttons default (App.css) */
}

.my-drop-item a{
    height: 100%;
    width: 100%;
    
    text-align: center;
    border-radius: 0; /* overwrite link-buttons default (App.css) */
}