.background-box {
    background-color: var(--back-secondary);
    box-shadow: 0px 0px 10px var(--text-secondary);
}

.link-buttons a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color:var(--text-primary);
    display: inline-block;
    border-radius: 10px;
}

.link-buttons a:focus {
    color:var(--text-primary);
}

.link-buttons a:hover {
    background-color: var(--text-secondary);
    color:var(--back-secondary);
}

.tag {
    background-color: var(--tag-bg);
    padding: 0rem 0.5rem; 
}